{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Betoch home page</title>
	<link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
  </head>
  <body>
    <div class="title-container">
      <p class="title">well come to betoch admin</p>
    </div>

	<div class="body-container">
		<p class="title"> Buying and Renting houses is near to you </p>
    <p>go to admin page <a href="http://127.0.0.1:8000/admin/">click here </a></p>
	</div>
  </body>
</html>
