{% extends 'base.html'%}

{%load static %}
{% block title%}mylisting page{%endblock%}
{% block style%}
<link rel="stylesheet" type="text/css" href="{% static 'listings/css/index.css' %}">

{%endblock%}
{% block content %} 
	<h1>hello block content</h1>
	 <div class="display-listings">
	 	{%for listing in listings%}
	 	  <img src="http://10.0.3.2:8000{{listing.image.url}}" alt="{{listing.title}}" style="width:200;height:200" />
		<h1>{{ listing.title }}</h1>
		<br />
	{%endfor%}

	 </div>
{%endblock%}